:root {
    --clr1: rgb(105, 105, 105);
    --clr2: rgb(120, 99, 110);

    --clr1bg: rgb(166, 149, 160);
    --clr1bg-light: rgb(224, 224, 224);
    --clr2bg: rgb(197, 172, 185);
    --clr2bg-light: rgb(253, 236, 246);

    --gray1: rgb(240, 240, 240);
    --gray2: rgb(194, 194, 194);
    --gray3: rgb(44, 44, 44);
}